.jumbotron {
	background-image: url(img/if.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 300px;
	text-align: center;

}

.jumbotron .display-4 {
	color: black;
}

.jumbotron .lead {
	color: black;
	font-size: 50px;
	margin-top: 180px;
}

.jumbotron p {
	color: black;
	font-size: 18px;
}

.jumbotron hr {
	border-color: black;
}

.form-container {
	margin-top: 50px;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.container-tabel {
	margin-top: 50px;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}
